/* Estilos CSS para la página */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: #070f17;
  color: #fff;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
  background-color: #f4f4f4;
  color: #333;
  border-radius: 5px;
}

.inventory-table {
  margin: 10%;
  padding: 10%;
  overflow-x: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

button {
  margin-top: 20px;
  background-color: #3096b5;
  border-radius: 4px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
  border: none;
}

.delete-row-btn, .delete-column-btn {
  background-color: #f44336;
}

.delete-row-btn, .delete-column-btn, #add-row-btn, #add-column-btn, #calculate-btn, #export-btn {
  margin-top: 20px;
  border-radius: 4px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
  border: none;
}

.container {
  align-content: center;
  margin: inherit;
  margin-top: 80px;
  max-width: 80%;
  width: 100%;
  overflow: hidden;
}

.left, .right, .left-box2, .right-box2 {
  float: right;
  width: 100%;
  max-width: 30%;
  height: auto;
  overflow: hidden;
}

.left img, .right img, .left-box2 img, .right-box2 img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.subtitulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 800;
}

.banner {
  background-color: #3096b5;
  color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.Facs-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

.Facs-sub-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.image-container {
  width: 4cm;
  height: 4cm;
  object-fit: cover;
  margin-right: 10px;
}

span {
  color: #333; 
  font-size: 14px; 
  font-weight: bold; 
}

footer {  
  background-color: #070f17;
  color: #fff;
  width: 100%;
  padding: 20px;
  margin-top: 60px;
  text-align: center;
  clear: both;
}

/* Tabla inventario */
.inventario-container {
  flex-direction: column;
  align-items: center;
  margin: 2cm;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

/* Ajustes para botones en dispositivos móviles */
@media screen and (max-width: 768px) {
  button {
    margin-top: 10px;
    width: 100%;
  }
}

/* Estilo para la columna que contiene el botón de eliminar */
.delete-column td:nth-child(1) {
  border: none;
  padding:0px ;
  background-color: #fff;
}

.space-footer {
  margin-bottom: 62%;
}


.category {
  flex-direction: column;
  align-items: center;
  margin: 2cm;
}

/* Estilo para el select "category-filter" */
#category-filter {
  padding: 8px 20px;
  border: 1px solid #3096b5;
  border-radius: 4px;
  outline: none;
}

/* Estilo para el input "add-category-input" */
#add-category-input {
  padding: 8px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-right: 10px;
  outline: none;
}

.category-item {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0; /* Color de fondo */
  border-radius: 5px;
}

.category-item span {
  background-color: #ffc107; /* Color de fondo para la palabra de la categoría */
  padding: 2px 5px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 100;
}

#add-category-btn {
  background-color: #4830b5;
}
